<html>
  <style>
    body{
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>More information</h1>
  <p><a href="allcourses">Back to view all courses</a></p>
  <p>
  Course number: {{data[0][0][0]}} <br />
  Course name: {{data[0][0][9]}} <br />
  Credits: {{data[0][0][10]}} <br />
  Department: {{data[0][0][11]}} <br />
  Semester: {{data[0][0][2]}} <br />
  Section number: {{data[0][0][1]}} <br />
  Location: {{data[0][0][3]}} <br />
  Days: {{data[0][0][4]}} <br />
  Time: {{data[0][0][5]}} <br />
  Capacity: {{data[0][0][6]}} <br />
  {{data[0][0]}} <br />
  </p>

  <div>
  <p>Students already enrolled in this course</p>
  {% for n in data[1] %}
    {% for i in n %}
      {{i}}
    {% endfor %}
    <br />
  {% endfor %}
  </div>
<form method="POST" action="/enroll">
<button type="submit" name="submit" value={{data[0][0][0]}},{{data[0][0][1]}},{{data[0][0][2]}},{{data[0][0][6]}}>
Enroll in this course</button>
</form>

<p><a href="/">Log Out</a></p>

</body>
</html>
